* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    background: $primary-color;
    position: relative;
}

.section {
    width: 50%;
}