$colors: (
    red: #C30101,
    green: #36802D,
    blue: #107DAC,
    yellow: #E9D700,
    orange: #FF4D00,
    purple: #660066,
    mediumSpringGreen: #00FA9A,
    sandyBrown: #F4A460
);

$primary-color: #167C80;
$secondary-color: #FFF;
$third-color: #E7836A;
$hidden-bullet-color: #D5D1C6;