.game {
    display: flex;
    align-items: center;
}

.board {
    width: 350px;
    border: 1px solid $secondary-color;
    margin: 2rem 0;
    &__properly-bullets {
        margin: 3rem 0;
        height: 60px; 
    }
    &__button-wrapper {
        padding: 1rem 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}

.properly {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    &__bullet {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: $hidden-bullet-color;
        margin-right: .5rem; 
    }
}

.chance {
    height: 60px;
    // border: 1px solid $secondary-color; 
    &__row {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
    }
    &__bullets {
        width: 70%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding-left: 1rem;
    }
    &__bullet {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background: $hidden-bullet-color;
        margin-right: .5rem; 
    }
    &__hints {
        width: 30%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
    }
    &__hint {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: $hidden-bullet-color;
        margin-right: .3rem; 
        &--hitted {
            background: #000;
        }
        &--almost {
            background: salmon;
        }
    }
}

.btn__check {
    margin-bottom: 0;
    &--disabled {
        &:hover {
            cursor: not-allowed;
        }
    }
}

.dialog-window {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
        min-width: 200px;
        min-height: 150px;
        max-width: 300px;
        max-height: 300px;
        background: rgba(113, 96, 110, .8);
        padding: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }
    &__result {
        font-size: 2.2rem;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    &--hidden {
        display: none;
    }
}

.btn {
    &--again {
        width: 8rem;
        padding: .5rem;
        font-size: 1.2rem;
        margin-bottom: 0;
    }
}